body {
    background-color: #0c0000;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#gameWorld {
    border: 0px;
    background: black;
    padding: 0;
    margin: auto;
    display: block;
}

*:focus {
    outline: none;
}