body {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    width: 100%;
    padding: 30px;
}

button {
    margin: 0;
    border: 0;
}

h1, .gav-overlay p {
    text-transform: uppercase;
    background: -webkit-gradient(linear, left top, left bottom, from(#400f49), to(#7b098e));
    background: -o-linear-gradient(#400f49, #7b098e);
    background: linear-gradient(#400f49, #7b098e);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 40px;
}

.gav-overlay p {
    font-size: 25px;
}

.header-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

#main {
    width: 24vw;
    height: 8vw;
    background: url(../menuImages/main.png);
}

#main:hover {
    background: url(../menuImages/mainhover.png);
}

#main:active {
    background: url(../menuImages/mainpress.png);
}

#main, #main:hover, #main:active {
    background-size: contain;
}

*:focus {
    outline: none;
}

* {
    font-family: Verdana, sans-serif;
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}