@supports (display: grid) {
    /*main containing elements and inner containing elements. */
    .gav-extra, .gav-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 15px;
    }

    .gav-grid .gav-grid-item {
        overflow-x: hidden;
        overflow-y: hidden;
        -webkit-transition: outline-width 600ms;
        -o-transition: outline-width 600ms;
        transition: outline-width 600ms;
    }

    .gav-extra-content {
        padding-top: 15px;
        padding-right: 40px;
        position: relative;
        overflow-y: scroll;
    }

    .gav-grid .gav-grid-item.expanded {
        outline: 3px solid #4b2e83;
        overflow: hidden;
        -webkit-transition: outline-width 600ms;
        -o-transition: outline-width 600ms;
        transition: outline-width 600ms;
    }

    .gav-grid .gav-grid-item h2 {
        color: #4b2e83;
        text-transform: uppercase;
        font-family: "encode_sans_condensed_bold", Arial, sans-serif;
    }

    .gav-grid .gav-grid-item h2:after {
        content: "";
        margin-top: 10px;
        display: block;
        width: 75px;
        height: 5px;
    }

    /* Regular grid items. */
    .gav-grid-item, .gav-base, .gav-extra-img, .gav-extra-content {
        grid-column-start: span 1;
        grid-row-start: span 1;
    }

    .gav-extra-content {
        overflow-y: scroll;
    }

    .gav-grid-item, .gav-base, .gav-extra-img, .gav-extra-content {
        height: 250px;
    }

    .gav-button {
        cursor: pointer;
    }

    .gav-base img, .gav-extra-img img {
        display: block;
        width: 100%;
        height: auto;
        -o-object-fit: cover;
        object-fit: cover;
        vertical-align: center;
    }

    .gav-base {
        position: relative;
    }

    .gav-base .gav-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: -webkit-max-content;
        height: max-content;
        height: -moz-fit-content;
        color: white;
        font-weight: bold;
        padding-top: 0.5em;
        padding-bottom: 1em;
        background-color: rgba(96, 96, 96, 0.5);
    }

    .gav-base .gav-overlay p {
        padding-left: 1em;
        padding-right: 3em;
        margin-bottom: 0px;
        margin-top: 0px;

    }

    .gav-base .gav-overlay .gav-button {
        position: absolute;
        right: 10px;
        bottom: 10px;
    }

    .gav-extra {
        position: relative;
    }

    .gav-extra .gav-button {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    /*Sets grid item to span wider AS WELL AS the inner grid. */
    .gav-grid-item.expanded, .gav-extra {
        grid-column-start: span 2;
    }

    /* wide. */
    .gav-grid-item.gav-wide-item {
        grid-column-start: span 2;
    }

    .gav-grid-item.gav-wide-item.expanded {
        grid-row-start: span 2;
        height: 515px;
    }

    .gav-grid-item.gav-wide-item.expanded .gav-extra {
        grid-column-start: span 2;
    }

    .gav-grid-item.gav-wide-item.expanded .gav-extra .gav-extra-img, .gav-grid-item.gav-wide-item.expanded .gav-extra .gav-extra-content {
        grid-column-start: span 2;
    }

    .gav-wide-item .gav-extra-content {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* tall. */
    .gav-grid-item.gav-tall-item {
        grid-row-start: span 2;
        height: 515px;
    }

    .gav-grid-item.gav-tall-item .gav-base {
        grid-row-start: span 2;
        height: 515px;
    }

    .gav-grid-item.gav-tall-item .gav-extra {
        grid-row-start: span 2;
        height: 515px;
    }

    .gav-grid-item.gav-tall-item .gav-extra .gav-extra-img, .gav-grid-item.gav-tall-item .gav-extra .gav-extra-content {
        grid-row-start: span 2;
        height: 515px;
    }

    .gav-grid-item.lots-of-content.expanded {
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: span 2;
        height: -webkit-max-content;
        height: max-content;
        height: -moz-fit-content;
    }

    .gav-grid-item.lots-of-content .gav-extra {
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: span 2;
        height: -webkit-max-content;
        height: max-content;
        height: -moz-fit-content;
    }

    .gav-grid-item.lots-of-content .gav-extra .gav-extra-content {
        grid-column: 2/ -1;
        height: -webkit-max-content;
        height: max-content;
        height: -moz-fit-content;
    }

    .gav-grid-item.lots-of-content .gav-extra .gav-extra-img {
        height: -webkit-max-content;
        height: max-content;
        height: -moz-fit-content;
    }

    .gav-grid-item.gav-tall-item.lots-of-content.expanded .gav-extra .gav-extra-img {
        height: -webkit-max-content;
        height: max-content;
        height: -moz-fit-content;
    }

    .gav-grid-item.gav-wide-item.lots-of-content.expanded {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-column-span: -2;
        grid-column-end: -1;
        -ms-grid-row: span 3;
        grid-row-start: span 3;
        height: -webkit-max-content;
        height: max-content;
        height: -moz-fit-content;
    }

    .gav-grid-item.gav-wide-item.lots-of-content .gav-extra {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-column-span: -2;
        grid-column-end: -1;
        -ms-grid-row: span 3;
        grid-row-start: span 3;
        height: -webkit-max-content;
        height: max-content;
        height: -moz-fit-content;
    }

    .gav-grid-item.gav-wide-item.lots-of-content .gav-extra .gav-extra-content {
        grid-column: 1/-1;
        -ms-grid-row: span 2;
        grid-row-start: span 2;
        height: -webkit-max-content;
        height: max-content;
        height: -moz-fit-content;
    }

    .gav-grid-item.gav-wide-item.lots-of-content .gav-extra .gav-extra-img {
        grid-column: 1/-1;
        grid-row-start: span 1;
        height: -webkit-max-content;
        height: max-content;
        height: -moz-fit-content;
    }

    .gav-grid-item.tall-content.expanded {
        height: 515px;
        grid-row-start: span 2;
    }

    .gav-grid-item.tall-content .gav-extra {
        height: 515px;
        grid-row-start: span 2;
    }

    .gav-grid-item.tall-content .gav-extra .gav-extra-content {
        height: 515px;
        grid-row-start: span 2;
    }

    .gav-grid-item.tall-content .gav-extra .gav-extra-img {
        height: 250px;
    }

    .gav-grid-item.gav-tall-item.tall-content.expanded {
        height: 780px;
        grid-row-start: span 3;
    }

    /*lots-of-content*/
    /* lots-of-content talls are extra special */
    /*lots-of-content wides are special */
    /* tall-content, regular */
    /* tall-content, tall / tall-content, wide*/
    .gav-tall-item.tall-content .gav-extra {
        height: 780px;
        grid-row-start: span 3;
    }

    .gav-tall-item.tall-content .gav-extra .gav-extra-content {
        height: 780px;
        grid-row-start: span 3;
    }

    .gav-tall-item.tall-content .gav-extra .gav-extra-img {
        height: 515px;
    }

    .gav-grid-item.gav-wide-item.tall-content.expanded {
        height: 780px;
        grid-row-start: span 3;
    }

    .gav-wide-item.tall-content .gav-extra {
        height: 780px;
        grid-row-start: span 3;
    }

    .gav-wide-item.tall-content .gav-extra .gav-extra-img {
        height: 250px;
    }

    @media only screen and (max-width: 836px) {
        .gav-grid-item.expanded, .gav-extra, .gav-extra-img, .gav-extra-content {
            height: -webkit-max-content;
            height: max-content;
            height: -moz-fit-content;
        }

        .gav-grid-item.gav-wide-item {
            height: -webkit-max-content;
            height: max-content;
            height: -moz-fit-content;
        }

        .gav-grid-item.gav-wide-item.expanded {
            height: -webkit-max-content;
            height: max-content;
            height: -moz-fit-content;
        }

        .gav-grid-item.gav-tall-item.expanded {
            height: -webkit-max-content;
            height: max-content;
            height: -moz-fit-content;
        }

        .gav-grid-item.gav-tall-item .gav-extra {
            height: -webkit-max-content;
            height: max-content;
            height: -moz-fit-content;
        }

        .gav-grid-item.gav-tall-item .gav-extra .gav-extra-content, .gav-grid-item.gav-tall-item .gav-extra .gav-extra-img {
            height: -webkit-max-content;
            height: max-content;
            height: -moz-fit-content;
        }

        .gav-grid-item.lots-of-content.expanded {
            height: -webkit-max-content;
            height: max-content;
            height: -moz-fit-content;
        }

        .gav-grid-item.lots-of-content.expanded .gav-extra {
            height: -webkit-max-content;
            height: max-content;
            height: -moz-fit-content;
        }

        .gav-grid-item.lots-of-content.expanded .gav-extra .gav-extra-img, .gav-grid-item.lots-of-content.expanded .gav-extra .gav-extra-content {
            height: -webkit-max-content;
            height: max-content;
            height: -moz-fit-content;
        }

        .gav-grid-item.gav-wide-item.lots-of-content.expanded {
            height: -webkit-max-content;
            height: max-content;
            height: -moz-fit-content;
        }

        .gav-grid-item.tall-content.expanded {
            height: -webkit-max-content;
            height: max-content;
            height: -moz-fit-content;
        }

        .gav-grid-item.tall-content .gav-extra {
            height: -webkit-max-content;
            height: max-content;
            height: -moz-fit-content;
        }

        .gav-grid-item.tall-content .gav-extra .gav-extra-img, .gav-grid-item.tall-content .gav-extra .gav-extra-content {
            height: -webkit-max-content;
            height: max-content;
            height: -moz-fit-content;
        }

        .gav-grid-item.gav-tall-item.tall-content.expanded {
            height: -webkit-max-content;
            height: max-content;
            height: -moz-fit-content;
        }
    }
    @media only screen and (max-width: 571px) {
        .gav-grid-item, .gav-base, .gav-grid-item.expanded, .gav-extra, .gav-extra-img, .gav-extra-content {
            grid-column-start: span 1;
        }

        .gav-grid-item.gav-wide-item {
            grid-column-start: span 1;
        }

        .gav-grid-item.gav-wide-item.expanded {
            grid-column-start: span 1;
        }

        .gav-grid-item.gav-tall-item {
            grid-column-start: span 1;
        }

        .gav-grid-item.gav-tall-item .gav-base {
            grid-column-start: span 1;
        }

        .gav-grid-item.gav-tall-item .gav-extra {
            grid-column-start: span 1;
        }

        .gav-grid-item.gav-tall-item .gav-extra .gav-extra-content, .gav-grid-item.gav-tall-item .gav-extra .gav-extra-img {
            grid-column-start: span 1;
        }

        .gav-grid-item.lots-of-content.expanded {
            grid-column-start: span 1;
        }

        .gav-grid-item.lots-of-content.expanded .gav-extra {
            grid-column-start: span 1;
        }

        .gav-grid-item.lots-of-content.expanded .gav-extra .gav-extra-img, .gav-grid-item.lots-of-content.expanded .gav-extra .gav-extra-content {
            grid-column-start: span 1;
        }

        .gav-grid-item.gav-wide-item.lots-of-content.expanded {
            grid-column-start: span 1;
        }

        .gav-extra-content {
            padding-left: 20px;
            padding-right: 20px;
        }

        .gav-grid-item, .gav-base {
            height: -webkit-max-content;
            height: max-content;
            height: -moz-fit-content;
        }

        .gav-grid-item.gav-tall-item {
            height: 400px;
        }

        .gav-grid-item.gav-tall-item .gav-base, .gav-grid-item.gav-tall-item .gav-extra .gav-extra-img {
            height: 400px;
        }

        .gav-extra .gav-button {
            top: 0px;
        }

        .gav-wide-item.expanded .gav-extra .gav-button {
            display: none;
        }

        .gav-wide-item.expanded .gav-extra-content .gav-button {
            display: unset;
        }
    }
}

@supports not (height: max-content) {
    @supports not (height: -moz-fit-content) {
        .gav-grid-item.expanded {
            /*
            -ms-overflow-style: -ms-autohiding-scrollbar;
            */
        }
    }
}

/* Takes care of IE11 and Edge15*/
html[data-useragent*='rv:11.0'] .gav-grid, html[data-useragent*='Edge/15'] .gav-grid, html[data-useragent*='MSIE'] .gav-grid {
    display: block;
    width: 100%;
}

html[data-useragent*='rv:11.0'] .gav-grid-item, html[data-useragent*='Edge/15'] .gav-grid-item, html[data-useragent*='MSIE'] .gav-grid-item {
    display: block;
    width: 100%;
    clear: both;
}

html[data-useragent*='rv:11.0'] .gav-base, html[data-useragent*='Edge/15'] .gav-base, html[data-useragent*='MSIE'] .gav-base, html[data-useragent*='rv:11.0'] .gav-overlay, html[data-useragent*='Edge/15'] .gav-overlay, html[data-useragent*='MSIE'] .gav-overlay, html[data-useragent*='rv:11.0'] .fa.fa-2x.gav-button, html[data-useragent*='Edge/15'] .fa.fa-2x.gav-button, html[data-useragent*='MSIE'] .fa.fa-2x.gav-button {
    display: none;
}

html[data-useragent*='rv:11.0'] .gav-extra, html[data-useragent*='Edge/15'] .gav-extra, html[data-useragent*='MSIE'] .gav-extra {
    display: block;
}

html[data-useragent*='rv:11.0'] .gav-extra-img, html[data-useragent*='Edge/15'] .gav-extra-img, html[data-useragent*='MSIE'] .gav-extra-img {
    display: block;
    float: left;
    width: 49.5%;
}

html[data-useragent*='rv:11.0'] .gav-extra-content, html[data-useragent*='Edge/15'] .gav-extra-content, html[data-useragent*='MSIE'] .gav-extra-content {
    display: block;
    float: right;
    width: 49.5%;
}